<div class="p-4 animated fadeIn">
  <mat-card class="drop-shadow-2xl">
    <mat-card-header>
      <mat-card-title
        >Sobre lo que será el inicio de una página para la lico.</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
        provident incidunt alias voluptates voluptas eveniet. Dolor fugiat quod
        expedita inventore molestiae culpa veniam sint, maiores id veritatis
        beatae perspiciatis incidunt.
      </p>
    </mat-card-content>
  </mat-card>
</div>
