<div class="p-4 animated fadeIn">
  <h1>Heroes <small>Marvel y Dc</small></h1>
  <hr />
  <div class="grid grid-cols-1 min-[820px]:grid-cols-3 gap-y-4 mt-4">
    <mat-card class="max-w-[400px]" *ngFor="let heroe of heroes; let i = index">
      <mat-card-header>
        <mat-card-title> {{ heroe.nombre }} </mat-card-title>
        <mat-card-subtitle>Aparición: {{ heroe.aparicion }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="heroe.image" alt="Heroes Photo" />
      <mat-card-content>
        <p>
          <span> Biografía: </span>
          <br />
          {{ heroe.bio }}
        </p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-content>
          <p>Esto es el footer</p>
        </mat-card-content>
      </mat-card-footer>
      <button
        (click)="verHeroe(i)"
        mat-raised-button
        color="primary"
        class="w-[90%] mx-auto my-2"
      >
        Mostrar...
      </button>
      <!-- <a
        [routerLink]="['/heroe', i]"
        mat-raised-button
        color="primary"
        class="w-[90%] mx-auto my-[10px]"
      >
        ver mas...</a
      > -->
    </mat-card>
  </div>
</div>
