<div>
  <mat-toolbar class="bg-slate-900 justify-between">
    <div class="flex items-center">
      <img
        src="assets/image/A-64.png"
        alt="Avengers Icon"
        width="50"
        height="50"
      />
    </div>
    <button
      (click)="desplegar = !desplegar"
      mat-icon-button
      class="example-icon hover:bg-slate-800 duration-500"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon class="text-white">menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-toolbar
    class="bg-slate-900 justify-center transition-opacity"
    *ngIf="desplegar"
  >
    <div class="flex items-center">
      <div routerLinkActive="active" class="rounded-lg ml-2">
        <a
          [routerLink]="['home']"
          class="mx-2 no-underline text-rose-500 p-2 rounded-lg"
          >Home</a
        >
      </div>
      <div routerLinkActive="active" class="rounded-lg">
        <a
          [routerLink]="['heroes']"
          class="mx-0.5 no-underline text-rose-500 p-2 rounded-lg"
          >Heroes</a
        >
      </div>
      <div routerLinkActive="active" class="rounded-lg">
        <a
          [routerLink]="['about']"
          class="mx-0.5 no-underline text-rose-500 p-2 rounded-lg"
          >About</a
        >
      </div>
    </div>
  </mat-toolbar>
</div>
