<div>
  <mat-toolbar class="bg-slate-900">
    <img
      src="assets/image/A-64.png"
      alt="Avengers Icon"
      width="50"
      height="50"
    />
    <div routerLinkActive="active" class="rounded-lg ml-2">
      <a
        [routerLink]="['home']"
        class="mx-2 no-underline text-rose-500 p-2 rounded-lg"
        >Home</a
      >
    </div>
    <div routerLinkActive="active" class="rounded-lg">
      <a
        [routerLink]="['heroes']"
        class="mx-0.5 no-underline text-rose-500 p-2 rounded-lg"
        >Heroes</a
      >
    </div>
    <div routerLinkActive="active" class="rounded-lg">
      <a
        [routerLink]="['about']"
        class="mx-0.5 no-underline text-rose-500 p-2 rounded-lg"
        >About</a
      >
    </div>

    <span class="example-spacer"></span>

    <input
      class="h-6 rounded mr-2"
      type="text"
      placeholder="Buscar Heroe"
      #buscarTexto
      (keyup.enter)="buscarHeroe(buscarTexto.value)"
    />
    <button
      mat-icon-button
      type="button"
      class="example-icon hover:bg-slate-800 duration-500"
      aria-label="Example icon-button with menu icon"
      (click)="buscarHeroe(buscarTexto.value); verResultado(buscarTexto.value)"
    >
      <mat-icon class="text-white">search</mat-icon>
    </button>
  </mat-toolbar>
</div>
