<div>
  <mat-toolbar class="bg-slate-900">
    <img
      src="assets/image/A-64.png"
      alt="Avengers Icon"
      width="50"
      height="50"
    />
    <div routerLinkActive="active">
      <a
        [routerLink]="['home']"
        class="mx-2 no-underline text-current hover:bg-slate-800 duration-500 p-2 rounded-lg"
        >Home</a
      >
    </div>
    <div routerLinkActive="active">
      <a
        [routerLink]="['heroes']"
        class="mx-0.5 no-underline text-current hover:bg-slate-800 duration-500 p-2 rounded-lg"
        >Heroes</a
      >
    </div>
    <div routerLinkActive="active">
      <a
        [routerLink]="['about']"
        class="mx-0.5 no-underline text-current hover:bg-slate-800 duration-500 p-2 rounded-lg"
        >About</a
      >
    </div>

    <span class="example-spacer"></span>
    <form action="">
      <input class="h-6 rounded mr-2" type="text" placeholder="Search..." />
    </form>
    <button
      mat-icon-button
      class="example-icon hover:bg-slate-800 duration-500"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon class="text-white">search</mat-icon>
    </button>
  </mat-toolbar>
</div>
