<div>
  <mat-toolbar class="bg-slate-900">
    <img
      src="assets/image/A-64.png"
      alt="Avengers Icon"
      width="50"
      height="50"
    />
    <a
      href="#"
      class="mx-2 no-underline text-white hover:bg-slate-800 duration-500 p-2 rounded-lg"
      >Home</a
    >
    <a
      href="#"
      class="mx-0.5 no-underline text-white hover:bg-slate-800 duration-500 p-2 rounded-lg"
      >Link</a
    >
    <span class="example-spacer"></span>
    <form action="">
      <input class="h-6 rounded mr-2" type="text" placeholder="Search..." />
    </form>
    <button
      mat-icon-button
      class="example-icon hover:bg-slate-800 duration-500"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon class="text-white">search</mat-icon>
    </button>
  </mat-toolbar>
</div>
