<div class="m-4 animated fadeIn">
  <mat-card class="max-[820px]:max-w-[400px] max-[820px]:mx-auto">
    <mat-card-header>
      <h1>
        {{ heroe.nombre | uppercase }}
        <small> ({{ heroe.aparicion | date : "y" }}) </small>
      </h1>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div
        class="grid grid-cols-1 min-[820px]:grid-cols-2 min-[820px]:grid-cols-2 gap-4 p-4"
      >
        <div class="flex flex-col items-center">
          <div>
            <img
              class="h-[200px] min-[820px]:h-[400px] w-[100%] max-w-[400px]"
              [src]="heroe.image"
              [alt]="heroe.nombre"
            />
          </div>
          <div>
            <a
              [routerLink]="['/heroes']"
              class="w-[90%] my-4"
              mat-raised-button
              color="primary"
              >Regresar</a
            >
          </div>
        </div>
        <div>
          <h3>{{ heroe.nombre }}</h3>
          <mat-divider class="my-4"></mat-divider>
          <div class="max-w-[400px]">
            <p>
              {{ heroe.bio }}
            </p>
          </div>
          <div>
            <img
              *ngIf="heroe.casa === 'DC'"
              width="200px"
              height="100px"
              src="assets/image/DC_Comics-Logo-PNG6.png"
              alt="DC"
            />
            <img
              *ngIf="heroe.casa === 'Marvel'"
              width="200px"
              height="100px"
              src="assets/image/Marvel Logo-Logo-PNG5.png"
              alt="Marvel"
            />
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
